

spring.datasource.url= jdbc:postgresql://localhost:5432/databasename
spring.datasource.username=yourusername
spring.datasource.password=yourpassword


spring.jpa.hibernate.ddl-auto=update 

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true 